@import '../../../styles/variables';

.Layout {
  .iconContainer {
    padding: 8px;
    color: rgba(0, 0, 0, 0.7);
  }

  .footerContainer {
    display: flex;
    bottom: 0;
    height: 40px;
    width: 100%;
    flex-direction: row;
    flex: 1;
    background-color: #f3da7c;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  .footerText {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    margin-bottom: 0;
  }

  .navbarContainer {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbarCustomStyles {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media only screen and (max-width: 780px) {
      align-items: center;
    }
  }

  .activeLink {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-size: 1.2rem;
    color: $activeLink
  }

  .navLinkCustomStyles {
    color: black;
    font-size: 1.2rem;
  }

  .linkCustomStyle {
    &a:hover {
      text-decoration: none;
      color: #ec1212;
    }
  }

  .navDropdownCustomStyles {
    padding-bottom: 0;

    &.nav-link {
      padding-bottom: 0;
    }

    &.navbar-light .navbar-nav .nav-link {
      color: black;
      font-family: 'Crimson Text', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .containerCustomStyles {
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
      width: 95%;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      width: 90%;
      padding-left: 10px;
      padding-right: 10px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
      width: 90%;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      width: 1200px;
    }
  }

  .itemCustomStyles {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .layoutDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .fabDonateButtonContainer {
    position: fixed;
    right: 15px;
    bottom: 25px;
    background-color: rgba(183, 20, 23, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .faDonateIconCustomStyles {
    color: white;
    font-size: 2rem;
    padding: 4px;
  }

  .fixedSocialIcons {
    position: fixed;
    right: 0;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 16;
    min-width: 52px;
    min-height: 52px;
    background-color: $bgYellow;
    border: 1px solid $bgYellow;
    cursor: pointer;
    float: right;
    @media (max-width: 575.98px) {
      opacity: 80%;
      min-width: 40px;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
      opacity: 80%;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      opacity: 80%;
    }
  }
}
